# Ignore all .vs folders recursively
**/.vs/

# Ignore IDE/editor files
**/.idea/

# Ignore Git metadata in nested repos
**/.git/

# Ignore build output directories
**/bin/
**/obj/

# Ignore generated OIV packages
*.oiv

resources/content/DualWield.dll
